
<header class="header" xmlns:th="http://www.thymeleaf.org" th:fragment="siteHeader">
  <nav class="topMenu">
    <ul class="topMenuList">
      <li class="topMenuListItemIcon"><a href="#"><img alt="탑바 아이콘" src="#"></a></li>
      <li class="topMenuListItem">
        파일(F)
        <div class="visualPadding">

          <ul class="topMenuDepth2">
            <li class="topMenuDepth2Item"><a class="topMenuDepth2ItemLink" href="#">새 이상체 작성</a></li>
            <li class="topMenuDepth2Item"><a class="topMenuDepth2ItemLink" href="#">새 인물 작성</a></li>
            <li class="topMenuDepth2Item"><a class="topMenuDepth2ItemLink" href="#">새 회사 작성</a></li>
            <li class="topMenuDepth2Item"><a class="topMenuDepth2ItemLink" href="#">기존 이상체 불러오기</a></li>
            <li class="topMenuDepth2Item"><a class="topMenuDepth2ItemLink" href="#">설정</a></li>

          </ul>
        </div>
      </li>
      <li class="topMenuListItem">
        보기(V)
        <div class="visualPadding">
          <ul class="topMenuDepth2">
            <li class="topMenuDepth2Item"><a class="topMenuDepth2ItemLink" href="#">화면 구성 변경</a></li>
            <li class="topMenuDepth2Item"><a class="topMenuDepth2ItemLink" href="#">화면 색상 변경</a></li>
            <li class="topMenuDepth2Item"><a class="topMenuDepth2ItemLink" href="#">화면 크기 변경</a></li>
          </ul>
        </div>
      </li>
      <li class="topMenuListItem">
        이동(G)
        <div class="visualPadding">
          <ul class="topMenuDepth2">
            <li class="topMenuDepth2Item"><a class="topMenuDepth2ItemLink" href="#">메인 화면</a></li>
            <li class="topMenuDepth2Item"><a class="topMenuDepth2ItemLink" href="#">이상체 화면</a></li>
            <li class="topMenuDepth2Item"><a class="topMenuDepth2ItemLink" href="#">인물 화면</a></li>
            <li class="topMenuDepth2Item"><a class="topMenuDepth2ItemLink" href="#">기업 화면</a></li>
            <li class="topMenuDepth2Item"><a class="topMenuDepth2ItemLink" href="#">지리 화면</a></li>
            <li class="topMenuDepth2Item"><a class="topMenuDepth2ItemLink" href="#">사용자 설정 화면</a></li>
          </ul>
        </div>
      </li>
      <li class="topMenuListItem">
        접속(L)
        <div class="visualPadding">
          <ul class="topMenuDepth2">
            <li class="topMenuDepth2Item"><a class="topMenuDepth2ItemLink" href="#">관리자 접속</a></li>
            <li class="topMenuDepth2Item"><a class="topMenuDepth2ItemLink" href="#">비 관리자 설정</a></li>
            <li class="topMenuDepth2Item"><a class="topMenuDepth2ItemLink" href="#">내 임시 저장 데이터</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </nav>
</header>